body {
  background-color: antiquewhite;
}
#boardNameContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 50px;
  cursor: pointer;
}

#boardNameInput {
  height: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#boardNameInput:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
